<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Felipa" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" />
  <title>AOE2 Info</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/images/aoe2icon.png" style="display: inline-block;">
      <span style="display: inline-block;"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/pages/units.html">Unit information<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

<div id = "topContent">
  <h1>Type the name of a Unit and it will display basic information about the Unit</h1>
</div>

<div id="unitManip">

  <div>
    <h2>List of Age of Empires II Units</h2>
    <div>
      <ul id = "unitList">
        <li v-if="ready" v-for="unit in listUnits">{{ unit }}</li>
      </ul>
    </div>
  </div>

  <div id = "unitInfo">

    <div id = "singleUnit">
      <form v-on:submit.prevent="createUnit">
        <label>Enter an Age of Empires II Unit   </label>
        <input v-model="unitName" placeholder="Name of Unit">
        <button @click="createUnit">Search</button>
      </form>


      <div id = "unitResults" v-if="display">
        <h2>{{unitName}}<h2>
        <h3>Cost:</h3>
        <ul id = "singleUnitCost">
          <li v-for="mat in relatedArr">{{ mat.name }} {{ mat.price }}</li>
        </ul>
        <h3>{{hp}} HP</h3>
        <p>Armor {{armor}}</p>
        <p>Attack {{attack}}</p>
        <ul id = "attackBonusList">
          <li v-for="bonus in bonusArr">{{bonus}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="army">
    <button @click="dispArmy">Make an Army</button>
    <button @click="dispArmyList">View Available Armies</button>
    <div v-if="displayArmy">
      <input v-model="armyTitle" placeholder="Name of Army">
      <label>Enter an Age of Empires II Unit to add to your army </label>
      <input v-model="currUnit" placeholder="Name of Unit">
      <input v-model="currQuant" placeholder="Quantity of Unit">
      <br>
      <button @click="addToArmy">Add to army</button>
      <br>
      <h3>{{armyTitle}}</h3>
      <ul id="currArmy">
        <li v-for="unit in armyArr">{{ unit.unitName }} x {{unit.quantity}}</li>
      </ul>
    </div>
    <form v-if="displayArmy" v-on:submit.prevent="postArmy">
      <button @click="postArmy">Submit Army</button>
    </form>
    <div v-if="displayArmyList">
      <div class="form">
         <input v-model="findTitle" placeholder="Search">
         <div class="suggestions" v-if="suggestions.length > 0">
           <div class="suggestion" v-for="s in suggestions" @click="selectArmy(s)">{{s.title}}
           </div>
         </div>
         <div v-else>
           <p>There are currently no armies</p>
         </div>
       </div>
    </div>
    <div class="indivArmy" v-if="findArmy">
      <h3>{{findArmy.title}}</h3>
      <button @click="editArmy">Edit Army</button>
      <button @click="delArmy">Delete Army</button>
      <br>
      <div class="editStuff" v-if="edit">
        <input v-model="findArmy.title">
        <br>
        <br>
        <ul>
          <li v-for="unit in findArmy.units">
            <input v-model="unit.unitName"/> X
            <input v-model="unit.quantity"/>
            <button @click="deleteUnit(unit)">Remove</button>
          </li>
        </ul>
        <button @click="putArmy(findArmy)">Submit Edit</button>
      </div>
      <div class="deleteStuff" v-if="del">
        <button @click="deleteArmy(findArmy)">Delete Army Forever</button>
      </div>
      <button @click="doneWithCurrArmy">Done</button>
    </div>
  </div>

</div>

  <footer>
    <a href="https://github.com/spark959/aoe2withAPI">Brian's GitHub Repository</a>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script text="type/javascript" src="/script.js"></script>
</body>

</html>
